<style type="text/css">
  label {
    font-weight: bold;
    color: #787878;
    font-size: 20px;
  }

  label[for="id_summary"] {
    font-size: 22px;
  }

  input[type="submit"] {
    position: absolute;
    top: 32px;
    right: 30px;
    background-color: #37afdf;
    color: white;
  }

  #id_summary:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
</style>

<form action="" method="POST">
  {% csrf_token %}
  <div>
    {{ form.media }}
    {% for field in form %}
    <div class="mb-3">
      <label for="{{ field.id_for_label }}">{{ field.label }} : </label>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  <input type="submit" id="submit" class="btn btn-sm mt-3" value="Save">
</form>

<script type="text/javascript">
  document.querySelector('#id_course').className = 'form-control';
  document.querySelector('#id_professor').className = 'form-control';
  document.querySelector('#id_summary').className = 'form-control';
</script>

