{% extends "base.html" %}

{% block title %} SignUp {% endblock %}

{% block content %}


  <div style="margin-top: 110px; border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  " 
  class="card w-50 mx-auto p-3">
    <div class="card-body">
      <h3 style="color: #2ab0e6;" class="text-center">Change Your Password</h3>

      
      {% for error in form.non_field_errors %}
        <div class="text-danger">
          {{ error }}
        </div>
      {% endfor %}

      <form action="." method="POST" class="mt-5">
        {% csrf_token %}  
        {% for field in form %}
					<div class="mt-3">
				    {{ field }}
				  </div>
				  {% if field.errors %}
				  	{% for error in field.errors %}
				  		<small class="text-danger">{{ error }}</small>
				  	{% endfor %}
				  {% endif %}
				{% endfor %}
				<br>
        <div class="text-center"><input style="background-color: #2ab0e6; color: white;" type="submit" value="Change Password" class="btn mt-4 w-50"></div>
      </form>
      <p class="text-center mt-4">
        <a style="color: #2ab0e6;" href="{% url 'notes:dashboard' %}">Back to Home</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const old_pass = document.querySelector('#id_old_password');
    const new_pass = document.querySelector('#id_new_password1');
    const re_pass = document.querySelector('#id_new_password2');

    old_pass.className = "form-control mx-auto";
    old_pass.placeholder = "Old Password";

    new_pass.className = "form-control mx-auto";
    new_pass.placeholder = "New Password";

    re_pass.className = "form-control mx-auto";
    re_pass.placeholder = "Confirm Password";
  </script>
{% endblock %}