{% extends "base.html" %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block content %}
  <style>
    body {
      background: url("{% static 'media/utility_images/body.jpg' %}");
      background-position: right;
      background-size: cover;
    }
    label[for='id_email']{
      display: none;
    }
    input[type="submit"]{
    text-align: center;
    background: linear-gradient(to right, rgb(59, 187, 238), rgb(106, 198, 235));
    border: none;
    width: 110px;
    height: 45px;
    color: white;
    margin-top: 1.5rem;
}
  #id_email{
  width: 100px;
  border: none;
  background-color: #eff7fa;
  height: 45px;
}
  </style>

  <div style="margin-top: 10rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
   class="card w-75 mx-auto p-4">
    <div class="card-body">
      <h3 style="color: #87ceeb;" class="text-center">Reset Your Password</h3>
      <form action="." method="POST" class="mt-5 text-center">
        {% csrf_token %}
        {{form.as_p}}
        <p><input type="submit" value="Send Email" class="btn"></p>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    document.querySelector('#id_email').className = 'form-control w-50 mx-auto'
     document.querySelector('#id_email').placeholder = 'Enter your email address'
  </script>
{% endblock %}