{% extends "site_base.html" %}
{% load static %}

{% block title %} About Us {% endblock %}


{% block intro %}
  <style>
    .row1 {
      background: #24b4ec;
      color: white;
      margin-left: -155px;
      margin-right: -155px;
    }
  </style>
  <div style="height: 550px; margin-top: -57px;" class="row row1">
    <div style="padding: 60px; margin-left: 50px;" class="col col-md-6">
      <strong>Features</strong>
      <h1 class="text-white">Features available here</h1>
      <p style="line-height: 2em;" class="lead">To use the application however, the users must already own a device such as a laptop , tablet or smart phone. Another advantage is its versatility. Users of this app can tailor the applications for their own personal uses and employ it in various life roles.</p>
    </div>
    <div class="col">
      <img src="{% static 'media/login_page.png' %}" alt="" height="560px">
    </div>
  </div>

{% endblock %}



  {% block content %}
    <style>
      h3 {
        color: #34b5e9;
      }
    </style>
    <div style="margin-top: 130px;" class="div"></div>
    
    <div class="row">
      <div class="col col-md-6">
        <h3>Templates</h3>
        <p style="line-height: 2em;" class="lead">Better notes are just a click away. Save time and effort with easy-to-install note templates to fit every need. They're fully customizable and endlessly reusable.g. You can create various document formats like meeting note, project plan, lecture note, meal planner etc. </p>
      </div>
      <div class="col col-md-6 text-end mt-5">
        <img src="{% static 'media/utility_images/temp.png' %}" alt="" width="500px" height="300px">
      </div>
    </div>
  
  <div style="margin-top: 130px;" class="div"></div>

  <div class="row">
    <div class="col col-md-6">
      <img src="{% static 'media/utility_images/search2.jpg' %}" alt="" width="400px" height="400px">
    </div>
  
    <div class="col col-md-6 text-end">
      <h3 class="text-start">Searching Functionality</h3>
      <p style="line-height: 2em;" class="lead">Once you have a bunch of notes now you can easily search for a specific note.This save your time and efforts.</p>
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <h3>See everything you need at a glance</h3>
      <p style="line-height: 2em;" class="lead">Home surfaces the information you need, when you need it, to help you navigate your day. Shape your Flexnote experience with a variety of widgets you can rearrange and resize.Add multiple sticky notes and pinned note widgets, and take advantage of new widgets as they’re released. </p>
    </div>
    <div class="col col-md-6 text-end">
      <img src="{% static 'media/utility_images/home2.jpg' %}" alt="" width="400px" height="400px">
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <img src="{% static 'media/utility_images/calender.jpg' %}" alt="" width="400px" height="300px">
    </div>
  
    <div class="col col-md-6 text-end">
      <h3 class="text-start">Google Calendar</h3>
      <p style="line-height: 2em;" class="lead">Link notes with calendar events so ideas and decisions stay connected to the people, places, and activities that sparked them.</p>
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <h3>Planner Diary</h3>
      <p style="line-height: 2em;" class="lead">Here you can create, edit or delete diary page with page number.Transactions, or observations kept daily or at frequent intervals : journal especially : a daily record of personal activities, reflections, or feelings.</p>
    </div>
    <div class="col col-md-6 text-end">
      <img src="{% static 'media/utility_images/diary2.png' %}" alt="" width="300px" height="300px">
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <img src="{% static 'media/utility_images/pdf2.png' %}" alt="" width="400px" height="300px">
    </div>
  
    <div class="col col-md-6 text-end">
      <h3 class="text-start">PDF Export</h3>
      <p style="line-height: 2em;" class="lead">We provide PDF Export which is a free online service tool which can convert your office and many different format documents to PDF and store on your system.</p>
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <h3>Sharing Notes</h3>
      <p style="line-height: 2em;" class="lead">The notes can be shared to user and recieve from those users via gmail, whatsapp and twitter. Open the note you would like to share.Click the skyblue Share button.Enter at least one email address (or select at least one contact).Set the permission level.Click Send Invitation.</p>
    </div>
    <div class="col col-md-6 text-end">
      <img src="{% static 'media/utility_images/sharing.jpg' %}" alt="" width="400px" height="400px">
    </div>
  </div>

  <div style="margin-top: 130px;" class="div"></div>
  
  <div class="row">
    <div class="col col-md-6">
      <img src="{% static 'media/utility_images/trash4.jpg' %}" alt="" width="420px" height="300px">
    </div>
  
    <div class="col col-md-6 text-end">
      <h3 class="text-start">Trash Feature</h3>
      <p style="line-height: 2em;" class="lead">There is also a trash feature where you can store the notes to be deleted. In case if a you have unintentionally a note and it was important, so you can restore it from the trash.</p>
    </div>
  </div>

  <div style="margin-top: 160px;" class="div"></div>
  
  
  <div style="height: 390px; padding-top: 80px;" class="row1">
    <h2 class="text-white text-center mt-5">Ready for Flexnote?</h2>
    <p class="text-center">
      <a class="btn" href="{% url 'accounts:signup' %}" style="
            width: 230px;
            height: 50px;
            background-color: F7F7F7;
            color: #24b4ec;
            text-align: center;
            line-height: 2.2em;
            font-weight: bold;
            ">
        <strong>GET STARTED FOR FREE</strong>
      </a>
    </p>
  
  </div>
{% endblock %}